{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class="form text-center d-flex justify-content-center">
		<form action="{% url 'web_login' %}" method="post">
			{% csrf_token %}
			<div class="pasword_error" style="color: red;"></div>
			<h2 class="text-center my-3">Sign In</h2>
      <p>If you have not registered an account yet, then please <a href="{% url 'register' %}">Sign Up</a> first</p>
			<input type="email" class="mt-4 mb-3 form-control email" name="email" placeholder="Username\email address field" required>
			<input type="password" class="my-3 form-control password" name="password" placeholder="Password Field" required maxlength="30">
			<button class="btn login-btn" type="submit">Login</button>
      <p class="text-right mt-3"><a href="#">Forgot Password?</a></p>

			<!-- <div style="margin-top: 25px; margin-bottom: -8px;">OR</div>
			<div>
			<a href="{% url 'register' %}"><button class="btn" type="button">Register</button></a>
			</div> -->
		</form>
	</div>

  {% endblock %}


{% block extrascript %}
<script type="text/javascript">
  $('.login-btn').click(function(){
 	var email = $('.email').val();
 	var password = $('.password').val();
 	$('.pasword_error').html('');
    var email_pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
    var submit = true;

    if (email==''|| email == null){
        $('.email').css('border', '1px solid red');
          submit = false;
    }
     else{
    	$('.email').css('border', '#ced4da');
    	submit = true;
    }
    if (email != "" || email == null){
      
      if(!email_pattern.test(email)){
         $('.pasword_error').append('Please enter a valid email address');
        }
    }
    if (password==''|| password == null){
        $('.password').css('border', '1px solid red');
         submit = false;
    }
    else{
    	$('.password').css('border', '#ced4da');
    	submit = true;
    }

     return submit 
})
  </script>

  {% endblock %}