{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class="form py-2 text-center d-flex justify-content-center">
		<form class="payment" action="{% url 'payment' %}" method="post">
			{% csrf_token %}
			<h2 class="text-center my-3">Payment Summary</h2>
			<p class="text-left no-student">1 Student</p>
			<p class="text-left bill-pay">$10/month/student</p>
			<div class="table-responsive">
				<table class="table table-bordered">
					<tr>
						<th class="today text-left">
							Today's Charge
						</th>
						<th class="text-right">
							$10.00
						</th>
					</tr>
					<tr>
						<td colspan="2 text-center">
							<p class="mb-0">Charges auto-renew</p>
							<span class="d-block">(Unless cancelled before next renewal date)</span>
							<span class="d-block">All amounts shown in U.S. dollars</span>
						</td>
					</tr>
				</table>	
			</div>
			<h3 class="text-left">Billing Contact</h3>
			<!-- <div class=""> -->
			<input type="text" class="my-3 form-control full_name" name="full-name" placeholder="Full Name" required maxlength="30">
			<input type="text" class="my-3 form-control address" name="address" placeholder="Address Line 1" required maxlength="35">
			<input type="text" class="my-3 form-control apt" name="apt-suite" placeholder="Apt/Suite" required>
			<div class="row grid my-3 m-0 p-0 dropd">
				<div class="col-md-6 input mb-2 p-0">
					<input type="text" class="form-control city" name="city" placeholder="City" required  maxlength="25">
				</div>
				<div class="col-md-6 mb-2 p-0">
			
					<select class="form-control states order-alpha" id="stateId" name="state" required>
             <option selected disabled>Select State</option>
					{% for state in states %}
						<option value="{{state.id}}">{{state.state_name}}</option>
					{% endfor %}
					</select>
				</div>
			</div>
			<div class="row grid my-3 m-0 p-0">
				<div class="col-md-6 input mb-2 p-0">
					<input type="text" class="form-control zip_code" name="zip_code" required placeholder="Zip code" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="8">
				</div>
				<div class="col-md-6 mb-2 p-0">
					<input type="text" value="USA" placeholder="USA" class="form-control" readonly  name="country">
				</div>
			</div>  
			<div class="custom-control custom-checkbox my-3 text-left">
			    <input type="checkbox" class="custom-control-input" value="True" name="terms"  required id="agree" name="example1">
			    <label class="custom-control-label" id="check_terms" for="agree">I agree to the Privacy Policy and Terms of Service</label>
          <div class="status_error" style="color: red; font-size: 13px;"></div>
		  	</div>
		  	<div class="imgbx text-right">
		  		<img src="{% static 'images/card.png' %}">
		  	</div>
			<div class="button text-right">
				<button class="btn" type="submit">Subscribe</button>
			</div>
			<!-- </div> -->
		</form>
	</div>

  {% endblock %}

{% block extrascript %}
  <script type="text/javascript">
  	$('.btn').click(function(){
 	var full_name = $('.full_name').val();
 	var address = $('.address').val();
 	var apt = $('.apt').val();
 	var city = $('.city').val();
 	var state = $('#stateId').val();
 	var zip_code = $('.zip_code').val();
 	$('.status_error').html('');
 	var terms = $('input[name="terms"]:checked').val();
    var submit = true;

    if (full_name==''|| full_name == null){
        $('.full_name').css('border', '1px solid red');
          submit = false;
    }
     else{
    	$('.full_name').css('border', '#ced4da');
    	submit = true;
    }
    if (address==''|| address == null){
        $('.address').css('border', '1px solid red');
         submit = false;
    }
    else{
    	$('.address').css('border', '#ced4da');
    	submit = true;
    }
    if (apt == ''|| apt == null){
        $('.apt').css('border', '1px solid red');
          submit = false;
    }
    else{
    	$('.apt').css('border', '#ced4da');
    	submit = true;
   
     }

     
    if (state == ''|| state == null){
        $('#stateId').css('border', '1px solid red');
          submit = false;
    }
    else{
    	$('#stateId').css('border', '#ced4da');
    	submit = true;
   
     }
     if (city==''|| city == null){
        $('.city').css('border', '1px solid red');
          submit = false;
    }
     else{
    	$('.city').css('border', '#ced4da');
    	submit = true;
    }
    if (zip_code==''|| zip_code == null){
        $('.zip_code').css('border', '1px solid red');
          submit = false;
    }
     else{
    	$('.zip_code').css('border', '#ced4da');
    	submit = true;
    }
    if (terms==''|| terms == null || terms == undefined){
        $('.status_error').append("Please agree with terms");
          submit = false;
    }
     
    return submit 
})
  </script>

  {% endblock %}