{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="step-block my-4 d-flex justify-content-center text-center">
      <div class="steps">
        <a href="{% url 'register' %}" class="text-muted">Regiter <i class="fas fa-chevron-right text-secondary mx-2"></i></a>
        <a href="{% url 'student_info' %}">Student Details <i class="fas fa-chevron-right mx-2"></i></a>
        <a href="{% url 'payment' %}">Payment </a>
      </div>
    </div>
  </div>

	<div class="form text-center d-flex justify-content-center">
		<form action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<div class="pasword_error" style="color: red;"></div>
			<h2 class="text-center my-3">Register</h2>
			<input type="email" class="my-3 form-control email" name="email" placeholder="Email ID Field" required>
			<input type="password" class="my-3 form-control password" name="password" placeholder="Password Field" required maxlength="30">
			<input type="password" class="my-3 form-control confirm-password" name="confirm-password" placeholder="Confirm Password Field" required maxlength="30">
			<button class="btn register_btn" type="submit">Register</button>
      <div style="margin-top: 25px; margin-bottom: -8px;">OR</div>
      <div>
      <a href="{% url 'web_login' %}"><button class="btn" type="button">Login</button></a>
      </div>
		</form>
	</div>

  {% endblock %}

{% block extrascript %}
  <script type="text/javascript">
  	$('.register_btn').click(function(){
 	var email = $('.email').val();
 	var password = $('.password').val();
 	var confirm_password = $('.confirm-password').val();
 	$('.pasword_error').html('');
 	// var status = $("#card_status").is(":checked");
    var email_pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
    var submit = true;

    if (email==''|| email == null){
        $('.email').css('border', '1px solid red');
          submit = false;
    }
     else{
    	$('.email').css('border', '#ced4da');
    	submit = true;
    }
    if (email != "" || email == null){
      
      if(!email_pattern.test(email)){
         $('.pasword_error').append('Please enter a valid email address');
        }
    }
    if (password==''|| password == null){
        $('.password').css('border', '1px solid red');
         submit = false;
    }
    else{
    	$('.password').css('border', '#ced4da');
    	submit = true;
    }
    if (confirm_password == ''|| confirm_password == null){
        $('.confirm-password').css('border', '1px solid red');
          submit = false;
    }
    else{
    	$('.confirm-password').css('border', '#ced4da');
    	submit = true;
    }
    if (password != "" && confirm_password != ""){
	 	if (password != confirm_password){
	 		 $('.confirm-password').css('border', '1px solid red');
	 		 $('.password').css('border', '1px solid red');
	 		 $('.pasword_error').append('Password does not match');
	 		   submit = false;
	 	}
	 	else{
	    	$('.confirm-password').css('border', '#ced4da');
	    	$('.password').css('border', '#ced4da');
	    	submit = true;
	    }
     }
    return submit 
})
  </script>

  {% endblock %}