{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class="form text-center d-flex justify-content-center">
		<form action="{% url 'register' %}" method="post">
			{% csrf_token %}
			<h2 class="text-center my-3">Register</h2>
			<input type="email" class="my-3 form-control email" name="email" placeholder="Email ID Field" required>
			<input type="password" class="my-3 form-control password" name="password" placeholder="Password Field" required>
			<input type="password" class="my-3 form-control confirm-password" name="confirm-password" placeholder="Confirm Password Field" required>
			<button class="btn" type="submit">Register</button>
		</form>
	</div>

  {% endblock %}


