{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class="form text-center d-flex justify-content-center dropd">
		<form action="{% url 'student_info' %}" method="post">
			{% csrf_token %}
			<h2 class="my-3">Student Details</h2>
			<input type="text" class="my-3 form-control stu_name" name="student_name" required placeholder="Student Name">
			<select class="form-control my-3 states order-alpha" required id="stateId" name="state">
				<option disabled selected>Please select state</option>
				{% for state in states %}
				<option value="{{state.state_name}}">{{state.state_name}}</option>
				{% endfor %}
			</select>
			<select name="country" class="form-control countries order-alpha" required id="countryId" name="country">
				<option disabled selected>Please select country</option>
				{% for country in countries %}
				<option value="{{country.country_name}}">{{country.country_name}}</option>
				{% endfor %}

			</select>
			
		
			<select class="form-control my-3" id="grade" name="grade" required>
				<option disabled selected>Grade + Level</option>
				{% for grade in grades %}
				<option value="{{grade.grade}}">{{grade.grade}}</option>
				{% endfor %}

			</select>
			<div class="button text-right">
				<button class="btn" type="submit">Next</button>
			</div>
		</form>
	</div>
{% endblock %}


{% block extrascript %}
  <script type="text/javascript">
  	$('.btn').click(function(){
 	var stu_name = $('.stu_name').val();
 	var country = $('#countryId').val();
 	var state = $('#stateId').val();
 	var grade = $('#grade').val();
 	$('.pasword_error').html('');
 	// var status = $("#card_status").is(":checked");

    var submit = true;

    if (stu_name==''|| stu_name == null){
        $('.stu_name').css('border', '1px solid red');
        // $('.card_num_error').append("Pls enter card number");
          submit = false;
    }
     else{
    	$('.stu_name').css('border', '#ced4da');
    	submit = true;
    }
    if (country==''|| country == null){
        $('#countryId').css('border', '1px solid red');
        // $('.card_name_error').append("Pls enter name");
         submit = false;
    }
    else{
    	$('#countryId').css('border', '#ced4da');
    	submit = true;
    }
    if (state == ''|| state == null){
        $('#stateId').css('border', '1px solid red');
        // $('.exp_error').append("Pls enter date");
          submit = false;
    }
    else{
    	$('#stateId').css('border', '#ced4da');
    	submit = true;
   
     }
     if (grade==''|| grade == null){
        $('#grade').css('border', '1px solid red');
        // $('.card_num_error').append("Pls enter card number");
          submit = false;
    }
     else{
    	$('#grade').css('border', '#ced4da');
    	submit = true;
    }
    return submit 
})
  </script>

  {% endblock %}