{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="step-block my-4 d-flex justify-content-center text-center">
      <div class="steps">
        <a href="{% url 'register' %}" class="text-muted">Regiter <i class="fas fa-chevron-right text-secondary mx-2"></i></a>
        <a href="{% url 'student_info' %}">Student Details <i class="fas fa-chevron-right mx-2"></i></a>
        <a href="{% url 'payment' %}">Payment </a>
      </div>
    </div>
  </div>

	<div class="form text-center d-flex justify-content-center dropd" id="my_div">
		<form  id="my_form"> 
		
			<h2 class="my-3">Student Details</h2>
      <div class="add-new-row">
        <div class="all_data">
			<input type="text" class="my-3 form-control stu_name" maxlength="30" name="student_name" required placeholder="Student Name">
      <select name="country" class="form-control countries order-alpha" required id="countryId" name="country" onchange="getval(this);">
        <option disabled selected>Please select country</option>
        {% for country in countries %}
        <option value="{{country.id}}" data-id = "{{country.id}}">{{country.country_name}}</option>
        {% endfor %}

      </select>
			<select class="form-control my-3 states order-alpha" required id="stateId" name="state">
				<option disabled selected>Please select state</option>
			</select>
			
			<select class="form-control my-3" id="grade" name="grade" required>
				<option disabled selected>Grade + Level</option>
				{% for grade in grades %}
				<option value="{{grade.id}}">{{grade.grade}}</option>
				{% endfor %}

			</select>
      </div>
      </div>
			<div class="button d-flex justify-content-between">
        <div class="add-new-stu" style="font-size: 60px; font-weight: 500;">+</div>
				<button class="btn mt-0" type="button">Next</button>

			</div>
		</form>
	</div>
{% endblock %}


{% block extrascript %}
  <script type="text/javascript">



  $('.add-new-stu').on('click',function(){
    var gettable = $(this).closest('div').parent('div').parent('form').find('div').find('div input:text, select');
    // var gethtml = '<tr>' + gettable.find('tbody>tr:first').html() + '</tr>';
    // $(gettable[0]).insertAfter('#my_form > div:first');
     // $(document.createElement(gettable[0]));
    $('#my_form > div:first').append('<div class ="all_data"><input type="text" class="my-3 form-control stu_name" maxlength="30" name="student_name" required placeholder="Student Name">' + 
    '<select name="country" onchange="getval(this);" class="form-control countries order-alpha" required id="" name="country">' +
        '<option disabled selected>Please select country</option>' +
        '{% for country in countries %}' +
       ' <option value="{{country.id}}" data-id="{{country.id}}">{{country.country_name}}</option>' +
        '{% endfor %}' +

     ' </select>'+ ' <select class="form-control my-3 states order-alpha" required id="stateId" name="state"><option disabled selected>Please select state</option> </select>' +
     
      '<select class="form-control my-3" id="grade" name="grade" required>' +
        '<option disabled selected>Grade + Level</option>'+
       ' {% for grade in grades %}'+
        '<option value="{{grade.id}}">{{grade.grade}}</option>'+
        '{% endfor %}'+

     ' </select></div>'
      );
    console.log("div add")
  }); 

  $('.btn').click(function(){
 	$('.pasword_error').html('');
    var submit = true;

    var product_data = [];
    $('.all_data').each(function(){
      var value = {}
      var all_inputs = $(this).find('input');
      $(all_inputs).each(function(){
        var check_values = ($(this).val()).trim();
        if (check_values == null || check_values == ""){
          $(this).css('border','1px solid red');
            submit = false;
        }
        else{
          $(this).css('border','1px solid #ced4da');
          value[this.name] = $(this).val();
        }
         });
        var all_select = $(this).find('select');

        $(all_select).each(function(){
        var check_val = ($(this).val());
        if (check_val == null || check_val == ""){
          $(this).css('border','1px solid red');
            submit = false;
        }
        else{
          $(this).css('border','1px solid #ced4da');
          value[this.name] = $(this).val();
        }
      });
      product_data.push(value);
    });

  if (submit == true){
    $.ajax({
      url: '{% url "student_info" %}',
      type: 'POST',
      data:{
        'student_data':(JSON.stringify(product_data)),
        'csrfmiddlewaretoken':'{{ csrf_token }}',
      },
      success: function(response){
        if (response.status == true){
          localStorage.setItem('success_msg',response.msg);
          window.location = "{% url 'payment' %}"

        }
        else{
          localStorage.setItem('info_msg',response.msg);
          window.location = "{% url 'register' %}"
        }

      }
    })
  }
});


  function getval(sel){
    var country_id = sel.value
    $.ajax({
            url:"{% url 'get_states' %}",
            type:'POST',
            data:{
               'csrfmiddlewaretoken':'{{ csrf_token }}',
                'country_id':country_id
               
            },
            success: function(response) {
                if (response.status == true){
                    for(i = 0; i < response.data.length; i++) { 
                        $(sel).next('.states').append(`<option value="${response.data[i]}">${response.data[i]}</option>`);
                    }
                }
                else{
                    $(sel).next('.states').append(`<option value="">'Please wait.'</option>`);
                }
            }
        });
    };



  </script>

  {% endblock %}